<ng-container>
  
  <mat-card>

    <mat-card-header>
      <mat-card-title><h3>Retirement Contributions</h3></mat-card-title>
    </mat-card-header>
  
    <mat-card-content class="mat-padding" layout="row" layout-wrap>

      <p><a href="https://corecon.raleighnc.gov/doc/cornerstones-457-contribution-worksheet" target="_blank">COR Allocation Worksheet</a></p>
      <p><a href="https://www.bbt.com/investing/your-workplace-retirement-plan/default.page" target="_blank">BB&amp;T Allocation Tools</a></p>
  
      <mat-input-container>
        <input [(ngModel)]="yearlySalary" name="yearly-salary" matInput placeholder="Yearly Salary" type="number">
      </mat-input-container>

      <mat-input-container>
        <input [(ngModel)]="contributionPercentage" name="contrib-percent" matInput placeholder="Your Contribution Percentage" type="number">
      </mat-input-container>

      <mat-list>

        <mat-list-item>
          <h4>Your Contribution:</h4>
          <p mat-line *ngIf="this.employeeContrib > 0">
              {{this.employeeContrib | currency:'USD':true:'1.0-0'}}
          </p>
          <p *ngIf="this.employeeContrib == 0">
            --
          </p>
        </mat-list-item>

        <mat-list-item>
          <h4>City Contribution:</h4>
          <p mat-line *ngIf="this.cityContrib > 0">
            {{this.cityContrib | currency:'USD':true:'1.0-0'}}
          </p>
          <p *ngIf="this.cityContrib == 0">
            --
          </p>
        </mat-list-item>

        <mat-list-item>
          <h4>Total:</h4>
          <p mat-line *ngIf="this.total > 0">
            {{this.total | currency:'USD':true:'1.0-0'}}
          </p>
          <p *ngIf="this.total == 0">
            --
          </p>
        </mat-list-item>




      </mat-list>
         
    </mat-card-content>
  
    <mat-card-actions>

      <div style="display:block">
        <button mat-button (click)="calculateContribution()">CALCULATE</button>
      </div>
      
    </mat-card-actions>
  
  </mat-card>
  
  

</ng-container>