<ng-container>
  
  <mat-card>

    <mat-card-header>
      <mat-card-title><h3>Retirement Contributions</h3></mat-card-title>
    </mat-card-header>
  
    <mat-card-content class="mat-padding" layout="row" layout-wrap>
  
        <mat-input-container>
          <input [(ngModel)]="yearlySalary" name="yearly-salary" matInput placeholder="Yearly Salary" type="number">
        </mat-input-container>

        <mat-input-container>
          <input [(ngModel)]="contributionPercentage" name="contrib-percent" matInput placeholder="Your Contribution Percentage" type="number">
        </mat-input-container>

        <h4>Your Contribution: {{this.employeeContrib}}</h4>
        <h4>City Contribution: {{this.cityContrib}}</h4>
        <h4>Total: {{this.total}}</h4>
  
    </mat-card-content>
  
    <mat-card-actions>

      <div style="display:block">
        <button mat-button (click)="calculateContribution()">CALCULATE</button>
      </div>
      
    </mat-card-actions>
  
  </mat-card>
  
  

</ng-container>