<ng-container>
  
  <md-card>

    <md-card-header>
      <md-card-title><h3>Retirement Contributions</h3></md-card-title>
    </md-card-header>
  
    <md-card-content class="md-padding" layout="row" layout-wrap>
  
        <md-input-container>
          <input [(ngModel)]="yearlySalary" name="yearly-salary" mdInput placeholder="Yearly Salary" type="number">
        </md-input-container>

        <md-input-container>
          <input [(ngModel)]="contributionPercentage" name="contrib-percent" mdInput placeholder="Your Contribution Percentage" type="number">
        </md-input-container>

        <h4>Total: {{this.total}}</h4>
  
    </md-card-content>
  
    <md-card-actions>

      <div style="display:block">
        <button md-button (click)="calculateContribution()">CALCULATE</button>
      </div>
      
    </md-card-actions>
  
  </md-card>
  
  

</ng-container>